
<li class="media">
  <div class="media-left text-center">
        <strong><%= item.score %></strong>
  </div>
  <div class="media-left text-center">
        <strong>  <span class="glyphicon glyphicon-heart"></span> </strong>
  </div>

  <div class="media-body">
    <h4 class="media-heading">
        <%= link_to item.title, item, title: truncate(item.content, length: 30) %>
        <a href="#">
          <%= render_votes_for_item(item) %>
        </a>
    </h4>
    <small>
      by <%= render_link_to_user(item.user) %> <%= link_to "#{time_ago_in_words(item.created_at)} ago", item %>
      | <%= link_to "#{item.comments_count} comments", item %>
    </small>
  </div>
</li>


<!-- <li class="media">
  <div class="media-left">
      <strong><%= item.score %><span class="glyphicon glyphicon-heart"></span> </strong>
      <a href="#">
        <%= render_votes_for_item(item) %>
      </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
        <%= link_to item.title, item, title: truncate(item.content, length: 30) %>
    </h4>
    <small>
      by <%= render_link_to_user(item.user) %> <%= link_to "#{time_ago_in_words(item.created_at)} ago", item %>
      | <%= link_to "#{item.comments_count} comments", item %>
    </small>
  </div>
</li> -->